 .sym svg { width: 1em; height: 1em; vertical-align: -0.1em; display: inline-block; }
 .gammabar { display: inline-block; width: 1.0em; height: 1.15em; vertical-align: -0.15em; }
 .gammabar svg { width: 100%; height: 100%; display: block; }
 .gammabar text { font-family: inherit; font-size: 78px; text-anchor: middle; dominant-baseline: middle; }
 .gammabar .m { transform: translate(0px, 0px); }
 h3 { font-size: 1.3em; margin: 0 0 10px 0; }
 a { text-decoration: none; color: #3c769b; }
 a:hover { color: #4e9ccd; }
 a img { border: 0; }
 @font-face { font-family: "GreekTimes"; src: local("Times New Roman"), local("TimesNewRomanPSMT"), local("Times"); unicode-range: U+0370-03FF, U+1F00-1FFF; }
 body { padding: 0; margin: 0; font-size: 13px; color: #878787; background: #f6f0e7 url(theme/container-bg-blue.png) center top repeat-y; font-family: "GreekTimes", Arial, Helvetica, sans-serif; }
 .wsite-content, .wsite-content * { font-family: "GreekTimes", Arial, Helvetica, sans-serif; }
 h2 { font-size: 2.0em; margin: 0; padding: .3em 0; line-height: 1.3; font-family: "Lato", Arial, Helvetica, sans-serif; font-weight: 1000; color: #0376be; }
 div.paragraph { font-size: 1em; line-height: 1.5; margin: 0; padding: .5em 0; text-align: justify;}
 p { font-size: 1em; line-height: 1.5; margin: 0; padding: .5em 0; }
 blockquote { font-style:italic; border-left:4px solid #3c769b; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#888; }
 #content div.paragraph { color: #878787; }
 #content p { color: #878787; }
 /* #container { margin: 0 auto; width: 956px; padding: 0 20px 0 26px; } */
 /* #sidebar { float: left; width: 222px; padding: 22px 9px 0 10px; } */
 /* #main-wrap { float: right; width: 710px; } */
 #header { clear: both; padding: 0 0 0 0; }
 .wsite-logo, .wsite-logo a { color: #ffffff; display: inline-block; text-decoration: none; text-transform: uppercase; font-size: 36px; color: #ffffff; font-family: "Lato", Arial, Helvetica, sans-serif; font-weight: 700; -webkit-text-stroke-width: 0.3px; padding-left: 7px; }
 #header-right a { color: #bd5353; }
 #header-right a:hover { color: #e67f7f; }
 #header-right { height: 90px; }
 #header-right, #header-right table { float: right; border-collapse: collapse; border-spacing: 0; }
 #header-right td { padding: 0; vertical-align: middle; text-align: right; }
 #header-right .phone-number .wsite-text { color: #878787; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; margin: 20px 0 0 15px; }
 #header-right .wsite-social { vertical-align: middle; margin: 0 0 0 10px; }
 #header-right .wsite-search { padding: 0 0 0 15px; vertical-align: middle; }
 #header-right .wsite-search-input { width: 140px; height: 24px; border: none; padding: 11px 7px 9px 10px; color: #878787; font-size: 12px; font-family: Arial, Helvetica, sans-serif; background: url(theme/input-bg.png) no-repeat; }
 #header-right .wsite-search-button { width: 23px; height: 32px; border: none; margin: 0; padding: 0; background: url(theme/submit-bg.png) no-repeat; }
 #avmenu { clear: left; margin: 70px 0 0; padding: 0; }
 #avmenu ul { list-style: none; margin: 0; padding: 0; }
 #avmenu li { list-style: none; }
 #avmenu li a { font-weight: 400; text-decoration: none; color: #fff; font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 15px; display: block; line-height: 1; margin: 0; padding: 10px 5px 10px 14px; border-bottom: 1px solid #24597a; }
 #avmenu ul > li:last-child a, #avmenu ul > span:last-child li a { border-bottom: none; }
 #avmenu li#active a, #avmenu a:hover { color: #fff; background: #24597a; }
 #wsite-menus .wsite-menu { border-top: 1px solid #24597a; position: relative; top: -1px; }
 #wsite-menus .wsite-menu li a { padding: 8px; background: #24597a; border: none; border-bottom: 1px solid #376a8a; text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: #fff; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background: #124666; }
 /* #main { margin: 0 7px 0 13px; } */
 #content { margin: 0; padding: 20px 0; min-height: 400px; overflow-x: visible !important; overflow-x: hidden; }
 .tall-header-page .wsite-header { width: 710px; height: 324px; background: url(theme/banner-tall.jpg) no-repeat; }
 .short-header-page .wsite-header { width: 710px; height: 184px; background: url(theme/banner-short.jpg) no-repeat; }
 .landing-page #banner { background: #f1f4f3; display: flex; align-items: flex-start; }
 #bannerleft { flex-shrink: 0; width: 375px; height: 375px; }
 #bannerleft .landing-banner-outer { display: table; width: 100%; height: 100%; }
 #bannerleft .landing-banner-mid { display: table-cell; vertical-align: middle; }
 .landing-page .wsite-header { width: 375px; height: 375px; background: url(theme/banner-landing.jpg) no-repeat; }
 .landing-banner-outer { display: table; width: 100%; height: 100%; }
 .landing-banner-mid { display: table-cell; vertical-align: middle; }
 .landing-banner-inner { }
 #bannerright { flex: 1; width: 245px; height: 375px; margin: 0 22px; }
 #bannerright .landing-banner-outer { display: table; width: 100%; height: 100%; }
 #bannerright .landing-banner-mid { display: table-cell; vertical-align: middle; }
 #bannerright h2 { color: #376a8a; font-size: 26px; font-weight: normal; -webkit-text-stroke-width: 0.2px; padding: 0px; line-height: 26px; }
 #bannerright div.paragraph { color: #414141; padding: 20px 0px; line-height: 140%; margin: 0; }
 #bannerright p { color: #414141; padding: 20px 0px; line-height: 140%; margin: 0; }
 #bannerright .wsite-button { margin: 0; }
 .very-tall-header-page .wsite-header { width: 760px; height: 225px; background: url(theme/banner-tall.jpg) no-repeat; }
 .no-header-page #banner { height: auto; padding: 0; display: none; }
 .no-header-page #content { border-top: 5px solid #ebe3d7; padding-top: 12px; }
 .splash-page { margin: 0 auto; padding: 0; background: #f4f4f4 url(theme/splash-bodybg.jpg) top center repeat-y; }
 .splash-page #header { width: 570px; }
 .splash-page #header-right { float: right; padding-right: 8px; }
 .splash-page #banner { width: 560px; height: 115px; border: none; padding: 5px 0 0 0; }
 .splash-page .wsite-header { width: 560px; height: 115px; border: none; background: url(theme/banner-splash.jpg) no-repeat; }
 .splash-page #wrap { width: 560px; padding: 0 10px 0 10px; }
 .splash-page #content { width: 538px; }
 .splash-page #footer { width: 560px; }
 #footer { clear: both; padding: 45px 7px 50px 0; color: #878787; font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-top: 5px solid #ebe3d7; text-align: right; }
 #footer div.paragraph { color: #878787; font-size: 12px; }
 #footer p { color: #878787; font-size: 12px; }
 #footer blockquote {font-size:11px; color:#999;}
 #footer a { color: #a59b8c; }
 #footer a:hover { color: #cab99f; }
 #footer span { vertical-align: middle; }
 #footer h2 { font-size: 15px; margin: 0 0 2px; padding: .3em 0; line-height: 1.5; font-family: "Lato", Arial, Helvetica, sans-serif; font-weight: 700; color: #376a8a; border-bottom:1px solid #EBE3D7; }
 .wsite-footer { margin-bottom: 15px; }
 .wsite-form-label { display: inline-block; color: #878787; font-family: Arial, Helvetica, sans-serif; font-size: 1em; padding: 12px 0 5px 0; }
 .form-radio-container { color: #878787; font-size: 1em; font-family: Arial, Helvetica, sans-serif; }
 .wsite-form-input, .wsite-search-element-input { font-family: Arial, Helvetica, sans-serif; font-size: 1em; color: #878787; background: #fff; border: 1px solid #ddd8d1; padding: 8px 4px 5px !important; line-height: 1; background: url#fff (field.png); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
 .form-select { color: #878787; border: 1px solid #ddd8d1; font-size: 1em; font-family: Arial, Helvetica, sans-serif; padding: 3px 4px; width: 320px; height: 27px; line-height: 27px; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
 .wsite-form-container { margin-top:0px !important; text-align:left; }
 .wsite-footer .wsite-form-label { font-size: 1em; padding: 5px 0 2px 0; }
 .wsite-footer .wsite-form-field { width:300px !important; }
 .wsite-footer .form-radio-container { font-size:1em; }
 .wsite-footer .wsite-form-input { font-size: 1em; width: 100% !important; }
 .wsite-footer .form-select { width: 100%; }
 .wsite-button { line-height: 1.5; color: #fff !important; font-family: Arial, Helvetica, sans-serif; display: inline-block; font-size: 12px; border: none; font-weight: bold; font-size: 13px; text-decoration: none; padding: 6px 20px 6px 20px; background: #383838; text-shadow:0 -1px 0 rgba(0,0,0,0.9);border-radius: 5px; }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 /* .wsite-button-inner { height: 34px; line-height: 34px;  font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 25px; background: black; vertical-align: middle; } */
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { height: 41px; background: #383838; padding: 0 15px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { height: 41px; line-height: 41px; padding: 0 10px 0 25px; }
 /* .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; } */
 /* .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; } */
 /* .wsite-button-large.wsite-button-highlight { background-image: url(/theme/button_large_highlight_blue.png); } */
 /* .wsite-button-large.wsite-button-highlight .wsite-button-inner { background: #383838; } */
 .wsite-button-highlight { background:#366c86; padding: 6px 20px 6px 20px;line-height: 1.5; }
#bannerright .wsite-button-highlight { display: flex; align-items: center; justify-content: center; }
#bannerright .wsite-button-highlight .wsite-button-inner { height: auto; line-height: normal; }
 /* .wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_highlight_blue.png); } */
/* .wsite-button.wsite-button-large.wsite-button-highlight { background: #383838; vertical-align: middle; } */
.wsite-button { display: inline-flex; align-items: center; justify-content: center; }
.wsite-button .wsite-button-inner { height: auto; line-height: normal; display: flex; align-items: center; }
div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }

 h2.wsite-content-title {font-family:"Times New Roman" !important;color:#f97415 !important;font-size: 26px;}
/* .wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {font-family:"Times New Roman" !important;} */
/* #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {color:#f97415 !important;} */
#wsite-title {color:#a9e4f8 !important;}
.wsite-menu a {font-style:normal !important;}
/* @media screen and (min-width: 767px) {.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {font-size:15px !important;} */
#wsite-title {font-size:34px !important;}
.wsite-menu a {font-size:14px !important;}
.wsite-image {font-size:90% !important; color: #878787 !important;}


/* sites.css */
.wsite-multicol-table {
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important
}

body .wsite-image-border-hairline a img,
body .wsite-image-border-thin a img,
body .wsite-image-border-medium a img,
body .wsite-image-border-thick a img {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.13)
}

/* .wsite-theme-dark .wsite-image-border-hairline a img,
.wsite-theme-dark .wsite-image-border-thin a img,
.wsite-theme-dark .wsite-image-border-medium a img,
.wsite-theme-dark .wsite-image-border-thick a img {
    border-width: 1px;
    border-style: solid;
    border-color: #444;
    border-color: rgba(255, 255, 255, 0.13)
} */

/* body .wsite-image-border-black a img,
body .wsite-theme-dark .wsite-image-border-black a img {
    border-color: #000 !important
} */

/* .wsite-image-border-none a img {
    border-width: 0 !important
}

.wsite-image-border-hairline {
    padding-left: 1px !important;
    padding-right: 1px !important
}

.wsite-image-border-hairline img {
    margin-left: -1px !important;
    margin-right: -1px !important
} */

/* .wsite-image-border-thin {
    padding-left: 2px !important;
    padding-right: 2px !important
}

.wsite-image-border-thin img {
    padding: 1px !important;
    margin-left: -2px !important;
    margin-right: -2px !important
} */

/* youtube */
.wsite-youtube-container {
    position: relative;
    padding-bottom: 56.25% !important;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.wsite-youtube-container iframe,
.wsite-youtube-container .wsite-youtube-coverbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.wsite-youtube-container .wsite-youtube-coverbox {
    background: url(/images/blank.gif);
    z-index: 2
}

.inside-active .wsite-youtube-coverbox {
    display: none
}

.wsite-youtube-wrapper {
    max-width: 100%
}

.wsite-youtube-size-small {
    width: 302px
}

.wsite-youtube-size-medium {
    width: 401px
}

.wsite-youtube-size-large {
    width: 501px
}

.wsite-youtube-size-xl {
    width: 650px
}

.wsite-youtube-size-hd {
    width: 853px
}

.wsite-youtube-align-center {
    margin: 0 auto
}

.wsite-youtube-align-right {
    margin: 0 0 0 auto
}


/* 社交软件分享 */
.wsite-social {
    position: relative;
    display: inline-block;
    white-space: nowrap

}

.wsite-social-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 1px;
    width: 24px;
    height: 24px;
    background: url(/theme/social-lightgold.png) no-repeat
}

.wsite-social-item.hidden {
    display: none
}

.wsite-social-facebook {background-position:0 0;}
.wsite-social-facebook:hover {background-position:0 -23px;}
.wsite-social-facebook:active {background-position:0 -46px;}
.wsite-social-pinterest {background-position:-23px 0;}
.wsite-social-pinterest:hover {background-position:-23px -23px;}
.wsite-social-pinterest:active {background-position:-23px -46px;}
.wsite-social-twitter {background-position:-46px 0;}
.wsite-social-twitter:hover {background-position:-46px -23px;}
.wsite-social-twitter:active {background-position:-46px -46px;}
.wsite-social-linkedin {background-position:-69px 0;}
.wsite-social-linkedin:hover {background-position:-69px -23px;}
.wsite-social-linkedin:active {background-position:-69px -46px;}
.wsite-social-mail {background-position:-92px 0;}
.wsite-social-mail:hover {background-position:-92px -23px;}
.wsite-social-mail:active {background-position:-92px -46px;}
.wsite-social-rss {background-position:-115px 0;}
.wsite-social-rss:hover {background-position:-115px -23px;}
.wsite-social-rss:active {background-position:-115px -46px;}
.wsite-social-flickr {background-position:-138px 0;}
.wsite-social-flickr:hover {background-position:-138px -23px;}
.wsite-social-flickr:active {background-position:-138px -46px;}
.wsite-social-plus {background-position:-161px 0;}
.wsite-social-plus:hover {background-position:-161px -23px;}
.wsite-social-plus:active {background-position:-161px -46px;}
.wsite-social-vimeo {background-position:-184px 0;}
.wsite-social-vimeo:hover {background-position:-184px -23px;}
.wsite-social-vimeo:active {background-position:-184px -46px;}
.wsite-social-yahoo {background-position:-207px 0;}
.wsite-social-yahoo:hover {background-position:-207px -23px;}
.wsite-social-yahoo:active {background-position:-207px -46px;}
.wsite-social-youtube {background-position:-230px 0;}
.wsite-social-youtube:hover {background-position:-230px -23px;}
.wsite-social-youtube:active {background-position:-230px -46px;}
